<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
 <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
 <br /><a href="/staticfile.html">Relative Link Example</a>
 <br /><a href="http://localhost:3000/staticfile.html">Absolute Link Example </a>
  <br /><a href="/template_example?first_name=Alvaro&last_name=Zamora">Template Example</a>
 <br /><a href="/resume?first_name=Alvaro&last_name=Zamora&major=Computer Science">Resume Link Example</a>
  <body>
    <h1></h1>
    <p>Welcome to <%= title %><%= subtitle %></p>
  </body>
</html>
