<!DOCTPYE html>
<html>
    <head>
        <title>Skill - Add</title>
    </head>
    <body>
            <hl>Add New Skill</hl>
            <form action="/skill/insert" method="get">
                Skill Name: <input name="skill_name" type="text" />
                Description: <input name="description" type"text" />
                <br  />
                <input type="submit" />
             </form>
    </body>
</html>