<!DOCTYPE html>
<html>
    <head>
        <title>Company - Add</title>
    </head>
    <body>
        <hl>Add New Company</hl>
        <input type="hidden"
               id="company_id"
               name="company_id"
               value="<% company.company_id %>"
               />
        <form action="/company/update" method="get">
           Company Name: <input
                    id="company_name"
                    name="company_name"
                    type="text"
                    value= "<%= company.company_name %>"
            />
           <br />
            Address
          <br />
            <% for (var i = 0; address_result.length> i; i++) {
                var checked ="";

                if(address_result[i].company_id != null){
                    checked = "checked";
                }

                %>
            <input type="checkbox" name="address_id" <%= checked %> value="<%=
                address_result[i].address_id %>" > <%= address_result[i].street + ',' +
            address_result[i].zip_code%>
            <br />
            <% } %>
            <br />

            <input type="submit"  />
     </form>
    </body>
</html>