<!DOCTPYE html>
<html>
    <head>
        <title>Address - Add</title>
    </head>
    <body>
            <hl>Add New Address</hl>
            <form action="/address/insert" method="get">
                Street: <input name="street" type="text" />
                Zip Code: <input name="zip_code" type"text" />
                <br  />
                <input type="submit" />
             </form>
    </body>
</html>